<html>
  <body>

    full report for <h3><a href="http://www.flickr.com/photos/{{ actor_id }}/">{{ actor_id }}</a></h3>

    total score: <b>{{ actor.vote_sum }}</b> <br />
    number of votes: <b>{{ actor.vote_count }}</b> <br />

    <h5>voting history</h5>
        {% for vote in votes %}
            <div id="votedetail" >
               "{{ vote.voter }}" voted {{ vote.value }} to {{ vote.activity_id }} on {{ vote.created }}
            </div>
        {% endfor %}

    <h5>photos added</h5>
        {% for photo in actor_photos %}
            <div id="photodetail" >
                <a href="{{ photo.photopage_url }}"><img src="{{ photo.photothumb_url }}"></a> 
            </div>
        {% endfor %}

    <h5>notes</h5>
        {% for note in actor_notes %}
            <div id="notedetail" >
            added the note "{{ note.activity_content }}" to image <a href="/photo/showactivity/{{ note.photo_id }}">{{ note.photo_id }}</a> on {{ note.created }}
            </div>
        {% endfor %}
        
    <h5>comments</h5>
        {% for comment in actor_comments %}      
            <div id="commentdetail" >
            added the comment "{{ comment.activity_content }}" to image <a href="/photo/showactivity/{{ comment.photo_id }}">{{ comment.photo_id }}</a> on {{ comment.created }}
            </div>
        {% endfor %}
        
    <h5>tags</h5>

        {% for tag in actor_tags %}      
            <div id="tagdetail" >
            added the tag  "{{ tag.activity_content }}" to image <a href="/photo/showactivity/{{ tag.photo_id }}">{{ tag.photo_id }}</a> on {{ tag.created }}
            </div>
        {% endfor %} 
   

{% extends "admincontrols.html" %}
  </body>
</html>

