<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <title>flickr voter</title>
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <div id="topnavigtion">
<a href="/">homepage</a>
<a href="/listphotos/">list photos</a>
<a href="/listunvoted/">list unvoted</a>
<a href="/showactors/">all contributors</a>
<a href="/leaguetable/">league table</a>
<a href="/advanced/">advanced</a>
      {% block navigation %}
      {% endblock %}    
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
        <h6>brought to you by eagleharp industries</h6>
      {% endblock %}
    </div>
  </body>
</html>
