<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <title>flickr voter</title>
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <div id="topnavigtion">
    {% block navigation %}
<a href="/">home</a>
<a href="/admin/">admin</a>
<a href="/listphotos/">photos</a>
<a href="/listactivities/">activities</a>
<a href="/listunvoted/">unvoted</a>
<a href="/showactors/">contributors</a>
<a href="/leaguetable/">league table</a>
<a href="/advanced/">advanced</a>
      {% endblock %}    
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
        <h6>brought to you by eagleharp industries</h6>
      {% endblock %}
    </div>
  </body>
</html>
