{% extends "base.html" %}

{% block navigation %}
    <a href="{{ url }}">{{ url_linktext }}</a>
    {% if admin_url %}
        <a href="{{ admin_url }}">{{ admin_linktext }}</a>    
    {% endif %}
{% endblock %}

{% block content %}
<h2>Lindau Flickr Competition Adminstration</h2>  
<p>      
      
<a href="http://dev.nitens.org/flickr/group_trackr.php?group=1348234@N24"><img src="http://dev.nitens.org/flickr/groups/1348234@N24.png" border="0" alt="Flickr Group Trackr graph" title="Statistics for Flickr group: Lindau Nobel Competition Pool (Get yours at http://dev.nitens.org/flickr)" /></a>
</p>      
<p>
      <a href="http://dev.nitens.org/flickr/group_trackr.php?group=1348234@N24" title="Statistics for Flickr group: Lindau Nobel Competition Pool (Get yours at http://dev.nitens.org/flickr)">Statistics for Flickr group: Lindau Nobel Competition Pool</a>
</p>


{% endblock %}
