{% extends "base.html" %}

{% block extrahead %}
<link type="text/css" rel="stylesheet" href="/stylesheets/activities.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js"></script>

<script type="text/javascript">
    (function($) { $(document).ready(function() {
    
        $('#hideme form').hide();

 {% for activity in activities %}
        
            $('#{{ forloop.counter }}{{ activity.0.activity_id }}up').click(function() { 
                $.ajax({
                    type: 'POST', 
                    url: '/rpcincrement?actor={{ activity.0.author }}&activityid={{ activity.0.activity_id }}', 
                    dataType: 'json', 
                    success: function(json, textStatus) {
                        $('#{{ forloop.counter }}{{ activity.0.activity_id }}votetotals span[id="total"]').text(json.sum);
                        $('#{{ forloop.counter }}{{ activity.0.activity_id }}votetotals span[id="cast"]').text(json.count);
                        $('#{{ forloop.counter }}{{ activity.0.activity_id }}message').text("thanks for voting up");
                        }, 
                    error: function(xhr, textStatus, errorThrown) {
                        alert('An error occurred! '+ ( errorThrown ? errorThrown : xhr.status ) );
                        },
                     });
                });
                
            $('#{{ forloop.counter }}{{ activity.0.activity_id }}down').click(function() { 
                $.ajax({
                    type: 'POST', 
                    url: '/rpcdecrement?actor={{ activity.0.author }}&activityid={{ activity.0.activity_id }}', 
                    dataType: 'json', 
                    success: function(json, textStatus) {
                        $('#{{ forloop.counter }}{{ activity.0.activity_id }}votetotals span[id="total"]').text(json.sum);
                        $('#{{ forloop.counter }}{{ activity.0.activity_id }}votetotals span[id="cast"]').text(json.count);
                        $('#{{ forloop.counter }}{{ activity.0.activity_id }}message').text("thanks for voting down");
                        }, 
                    error: function(xhr, textStatus, errorThrown) {
                        alert('An error occurred! '+ ( errorThrown ? errorThrown : xhr.status ) );
                        },
                     });
                });
                
 {% endfor %}
              })})
        (jQuery);
</script> 
{% endblock %}   

{% block content %}
   in total there are {{ count }} activities in this group.
    
      <p>
     {% if previous %}
      <a href="?newest=true">&lt;&lt;newest</a>              
      <a href="?previous={{ previous }}">&lt;newer</a>     
     {% endif %}
     {% if next %}
      <a href="?next={{ next }}">older&gt;</a>      
      <a href="?oldest=true">oldest&gt;&gt;</a>        
     {% endif %}
      </p>
        
    {% for activity in activities %}
        <div id="activityrecord">
        
             <p> 
                <a href="{{ activity.1 }}"><img src="{{ activity.2 }}"></a> 
             </p>
            
           {{ activity.0.author }} added a {{ activity.0.activity_type }} that said  {{ activity.0.activity_content }}
         
           <div id="{{ forloop.counter }}{{ activity.0.activity_id }}votetotals">
                vote total: <span id="total">{{ activity.0.vote_sum }}</span>,
                votes cast: <span id="cast">{{ activity.0.vote_count }}</span> 
           </div>

           <div id="voting">            
             <div id='upvote'><div id="{{ forloop.counter }}{{ activity.0.activity_id }}up">Vote Up</div></div>
             <div id='downvote'><div id="{{ forloop.counter }}{{ activity.0.activity_id }}down">Vote Down</div></div>
                <div id="{{ forloop.counter }}{{ activity.0.activity_id }}message">Waiting for a vote ...</div>
                
                
                <div id="hideme">
                    <form action="/publicincrement?actor={{ activity.0.author }}&activityid={{ activity.0.activity_id }}" method="post">
                        <div><input type="submit" value="public vote"></div>
                    </form>   
        
                    <form action="/increment?actor={{ activity.0.author }}&activityid={{ activity.0.activity_id }}" method="post">
                        <div><input type="submit" value="give cookie"></div>
                    </form>   
                    <form action="/decrement?actor={{ activity.0.author }}&activityid={{ activity.0.activity_id }}" method="post">
                        <div><input type="submit" value="take cookie away"></div>
                    </form>
                </div>
        </div> <!-- voting div -->
           
           
            {% if admin %}
              <div id='creationtime'><p>creation time: {{ activity.0.created }}</p></div>  
            {% endif %}
           
        </div>
    {% endfor %}
    
{% endblock %}
