body {

        font: 75% georgia, sans-serif;
        line-height: 1.88889;
        margin: 0; 
        padding: 0;
    	background-color: #b3b3b3;
}

#content {
	border-style: none;
	margin-left: 2cm;
}
